[submodule ".config/emacs/copilot.el"]
	path = .config/emacs/copilot.el
	url = https://github.com/zerolfx/copilot.el.git
[submodule "/Users/Andy/.tmux/plugins/tpm"]
	path = /Users/Andy/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/Users/Andy/.tmux/plugins/tmux"]
	path = /Users/Andy/.tmux/plugins/tmux
	url = https://git::@github.com/catppuccin/tmux
[submodule "/Users/Andy/.tmux/plugins/tmux-sensible"]
	path = /Users/Andy/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
