# emacs
!emacs
!emacs/snippets
!emacs/snippets/
!emacs/snippets/**
emacs/snippets/**/*~
emacs/snippets/*/*~

# nvim
!/nvim
!/nvim/
!/nvim/lua
!/nvim/lua/andy
!/nvim/lua/andy/core
!/nvim/lua/andy/plugins
!/nvim/lua/andy/plugins/*.lua

# aerospace window manager
!/aerospace
!/aerospace/aerospace.toml


# kitty terminal
!/kitty
!/kitty/kitty.conf

# i3 window manager for linux systems
!i3
!i3/config
