
!emacs
!emacs/snippets
!emacs/snippets/
!emacs/snippets/**
emacs/snippets/**/*~
emacs/snippets/*/*~


!/nvim
!/nvim/
!/nvim/lua
!/nvim/lua/andy
!/nvim/lua/andy/plugins
!/nvim/lua/andy/plugins/*.lua

!i3
!i3/config
